<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Study Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Study Tracker Dashboard</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('show_dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('show_profile') }}">Profile</a></li>
                <li><a href="{{ url_for('show_study') }}">Study</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
    
<!--
data from the database will be passed to the page in this format:

data = {
    deadlines = [{}, {}],
    classes = [{}, {}], 
    tasks = [{}, {}]
}
    
<li>Example Deadline - <strong>March 1</strong></li>
-->

    <main>
        <section id="deadlines">
            <h2>Upcoming Deadlines</h2>
            <ul id="deadline-list">
                <form method="get" action="/" id="deadlines-filter">
                    <input type="text" placeholder="Search by title" name="title" value="{{data['params'].title}}">
                    <label for="type-filter" >Type: </label>
                    <select name="type" id="type-filter" >
                        {% if data["params"].type == "Assignment" %}
                        <option value="">--None chosen</option>
                        <option value="Assignment" selected>Assignment</option>
                        <option value="Exam">Exam</option>
                        <option value="Project">Project</option>
                        <option value="Other">Other</option>
                        {% elif data["params"].type == "Exam" %}
                        <option value="">--None chosen</option>
                        <option value="Assignment">Assignment</option>
                        <option value="Exam" selected>Exam</option>
                        <option value="Project">Project</option>
                        <option value="Other">Other</option>
                        {% elif data["params"].type == "Project" %}
                        <option value="">--None chosen</option>
                        <option value="Assignment">Assignment</option>
                        <option value="Exam">Exam</option>
                        <option value="Project" selected>Project</option>
                        <option value="Other">Other</option>
                        {% elif data["params"].type == "Other" %}
                        <option value="">--None chosen</option>
                        <option value="Assignment">Assignment</option>
                        <option value="Exam">Exam</option>
                        <option value="Project">Project</option>
                        <option value="Other" selected>Other</option>
                        {% else %}
                        <option value="">--None chosen</option>
                        <option value="Assignment">Assignment</option>
                        <option value="Exam">Exam</option>
                        <option value="Project">Project</option>
                        <option value="Other">Other</option>
                        {% endif %}
                    </select>
                    <label for="sort-by" >Sort by: </label>
                    <select name="sort-by" id="sort-by" >
                        {% if data["params"]['sort-by'] == 'name' %}
                        <option value="">--None chosen</option>
                        <option value="name" selected>Title</option>
                        <option value="due_date">Due Date</option>
                        <option value="type">Type</option>
                        {% elif data["params"]['sort-by'] == "due-date" %}
                        <option value="">--None chosen</option>
                        <option valuedata="name">Title</option>
                        <option value="due_date" selected>Due Date</option>
                        <option value="type">Type</option>
                        {% elif data["params"]['sort-by'] == "type" %}
                        <option value="">--None chosen</option>
                        <option value="name">Title</option>
                        <option value="due_date">Due Date</option>
                        <option value="type" selected>Type</option>
                        {% else %}
                        <option value="">--None chosen</option>
                        <option value="name">Title</option>
                        <option value="due_date">Due Date</option>
                        <option value="type">Type</option>
                        {% endif %}
                        
                    </select>
                    <button type="submit" >Filter</button>
                </form>
                {% for deadline in data["filtered"] %}
                    <li>{{deadline.name}} - <strong>{{deadline.due_date}}</strong> <br>
                        ({{deadline.type}})
                        (class: {% for class in data["classes"] if class["_id"] == deadline["class_ID"] %}{{class["name"]}}{% endfor %})</li>
                {% endfor %}
            </ul>
        </section>
        
        <section id="classes">
            <h2>Your Classes</h2>
            <ul id="class-list">
                {% for class in data["classes"] %}
                    <li>
                        <h3>{{class.name}}</h3>  
                        <button onclick="manageClass('{{class._id}}', '{{class.name}}', '{{class.time_studied_mins}}')" id="manage-class-{{class._id}}">Manage Class</button> 
                    </li>
                {% endfor %}
            </ul>

            <form id="addClassForm" method="post" action="/add-class" >
                <h2>Add New Class:</h2>

                <label for="new-class">Class Name:</label>
                <input name="classname" type="text" id="new-class" placeholder="Enter class name" required>
                
                <input type="submit">
            </form>
            
        </section>

        <!-- Task and session management -->
        <section id="task-session-container" style="display:none;">
            <h2 id="class-name-header">Manage Deadlines and ...</h2>

            <div id="tasks">
                <h3>Deadlines</h3>
                <ul id="task-list">
                    {% for deadline in data["deadlines"] %}
                    <div style="display: none" class="gen-task {% for class in data['classes'] if class['_id'] == deadline['class_ID'] %}{{class['name']}}{% endfor %}">

                        <li>
                            {{deadline.name}} - <strong>{{deadline.due_date}}</strong> 
                            ({{deadline.type}}) 
                        </li> 
                        <form style="display: none;" method="post" action="/delete-deadline" class="delete-deadline">
                            <input style="display:none" type="text" value="{{deadline._id}}" name="deadline-id">
                            <button class="delete" type="submit">Delete Deadline</button> 
                        </form>

                    </div>
                    {% endfor %}
                </ul>


                <form method="post" action="/edit-deadlines" style="display:none;" id="task-list-editing"><ul>

                    {% for deadline in data["deadlines"] %}
                        <li style="display: none"  class="gen-task {% for class in data['classes'] if class['_id'] == deadline['class_ID'] %}{{class['name']}}{% endfor %}">
                            <input type="text" value="{{deadline.name}}" name="{{deadline._id}}-name" required>
                            <input type="date" value="{{deadline.due_date}}" name="{{deadline._id}}-due-date" required>
                            <select name="{{deadline._id}}-type" id="" value="{{deadline.type}}">
                                {% if deadline.type == "Assignment" %}
                                <option value="Assignment" selected>Assignment</option>
                                <option value="Exam">Exam</option>
                                <option value="Project">Project</option>
                                <option value="Other">Other</option>
                                {% elif deadline.type == "Exam" %}
                                <option value="Assignment">Assignment</option>
                                <option value="Exam" selected>Exam</option>
                                <option value="Project">Project</option>
                                <option value="Other">Other</option>
                                {% elif deadline.type == "Project" %}
                                <option value="Assignment">Assignment</option>
                                <option value="Exam">Exam</option>
                                <option value="Project" selected>Project</option>
                                <option value="Other">Other</option>
                                {% else %}
                                <option value="Assignment">Assignment</option>
                                <option value="Exam">Exam</option>
                                <option value="Project">Project</option>
                                <option value="Other" selected>Other</option>
                                {% endif %}
                              </select>
                            </li>
                    {% endfor %}
                    <button type="submit" >Submit Changes</button>
                    <button type="button" onclick="undoEditTask()">Cancel Changes</button>
                </ul></form>
                <button onclick="addTask()" id="deadline-add-button">Add Deadline</button>
                <button onclick="editTask()" id="deadline-edit-button">Edit Deadlines</button>
                <button onclick="deleteTask()" id="deadline-delete-button">Delete Deadline</button>
                <button onclick="undoDeleteTask()" id="deadline-undo-delete-button" style="display: none;">Cancel Delete</button>

                <div id="new-deadline" style="display: none;">
                    <h2>New Deadline</h2>
                    <form method="post" action="/add-deadline">
                        <p>Title:   <input name="name" type="text" id="new-task" placeholder="Title" required></p>
                        
                        <p>Due Date:   <input name="due-date" type="date" id="task-date" required></p>
                        
                        <p>Deadline Type:</p>
                        <input type="radio" id="type-assignment" name="type" value="Assignment" required>
                        <label for="type-assignment">Assignment</label><br>
                        <input type="radio" id="type-exam" name="type" value="Exam" required>
                        <label for="type-exam">Exam</label><br>
                        <input type="radio" id="type-project" name="type" value="Project" required>
                        <label for="type-project">Project</label>
                        <input type="radio" id="type-other" name="type" value="Other" required>
                        <label for="type-other">Other</label>
                        <input id="hidden-class-id-input" type="text" name="classid" style="display: none;" value="">
                        <p></p>
                        <button type="submit" value="Confirm Add">Confirm Add</button>
                        <button type="button" onclick="undoAddTask()" id="cancel-deadline-add">Cancel</button>
                    </form>
                </div>
                
                
                
            </div>

            <div id="study-sessions">
                <h3>Study Sessions</h3>
                <ul id="study-session-time">
                    <p id="total-time-studied">Total time studied: </p>
                </ul>
                <form method="get" action="/study">
                    <button type="submit">Start Study Session</button>
                </form>
                
            </div>

            <div>
                <form method="post" action="delete-class" >
                    <input type="text" style="display:none;" name="classid" value="" id="delete-class-input">
                    <button type="submit">Delete Class</button>
                </form>
                
            </div>
            <button onclick="backToClasses()">Back to Classes</button>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2025 Study Tracker</p>
    </footer>
    
    
    <script>

        
        

        function deleteClass() {
            
        }

        /*
        This function is called when the "manage class" button for any class is pressed. 

        The function will take in the id and name of the class being manipulated

        */
        function manageClass(this_class_id, this_class_name, time_studied) {
            
            document.getElementById('class-name-header').innerText = `Manage Deadlines and Study Sessions for ${this_class_name}`
            // hiding the class list and showing the task/session container       
            document.getElementById('class-list').style.display = 'none';
            document.getElementById('task-session-container').style.display = 'block';
            document.getElementById('addClassForm').style.display = 'none'

            let tasks = document.getElementsByClassName(this_class_name)
            for(let i = 0; i < tasks.length; i++) {
                tasks[i].style.display = ""
            }
            document.getElementById('hidden-class-id-input').setAttribute("value", this_class_id)
            document.getElementById("delete-class-input").setAttribute('value', this_class_id)
            document.getElementById('total-time-studied').innerText = 'Total time studied: ' + String(time_studied) + " minutes"
            
        }

        function addTask() {
            // make form visible
            document.getElementById('new-deadline').style.display = 'block';
            document.getElementById('deadline-add-button').style.display = 'none';
            document.getElementById('deadline-edit-button').style.display = 'none';
            document.getElementById('deadline-delete-button').style.display = 'none';
        }

        function undoAddTask() {
            // make form invisible
            document.getElementById('new-deadline').style.display = 'none';
            document.getElementById('deadline-add-button').style.display = '';
            document.getElementById('deadline-edit-button').style.display = '';
            document.getElementById('deadline-delete-button').style.display = '';
        }

        function editTask(className, index) {
            // make form visible
            document.getElementById('task-list-editing').style.display = '';
            document.getElementById('task-list').style.display = 'none';
            document.getElementById('deadline-add-button').style.display = 'none';
            document.getElementById('deadline-edit-button').style.display = 'none';
            document.getElementById('deadline-delete-button').style.display = 'none';
        }

        function undoEditTask(className, index) {
            // make form invisible
            document.getElementById('task-list-editing').style.display = 'none';
            document.getElementById('task-list').style.display = '';
            document.getElementById('deadline-add-button').style.display = '';
            document.getElementById('deadline-edit-button').style.display = '';
            document.getElementById('deadline-delete-button').style.display = '';
        }

        function deleteTask(className, index) {
            let tasks = document.getElementsByClassName("delete-deadline")
            for(let i = 0; i < tasks.length; i++) {
                tasks[i].style.display = ""
            }

            document.getElementById('deadline-add-button').style.display = 'none';
            document.getElementById('deadline-edit-button').style.display = 'none';
            document.getElementById('deadline-delete-button').style.display = 'none';
            document.getElementById('deadline-undo-delete-button').style.display = '';

        }

        function undoDeleteTask(className, index) {
            let tasks = document.getElementsByClassName("delete-deadline")
            for(let i = 0; i < tasks.length; i++) {
                tasks[i].style.display = "none"
            }

            document.getElementById('deadline-add-button').style.display = '';
            document.getElementById('deadline-edit-button').style.display = '';
            document.getElementById('deadline-delete-button').style.display = '';
            document.getElementById('deadline-undo-delete-button').style.display = 'none';

        }

        // study sessions

        function startStudySession() {
            window.location.href = "study_session.html";
        }

        function backToClasses() {
            document.getElementById('task-session-container').style.display = 'none';
            document.getElementById('class-list').style.display = 'block';
            document.getElementById('addClassForm').style.display = 'block'
            let tasks = document.getElementsByClassName("gen-task")
            for(let i = 0; i < tasks.length; i++) {
                tasks[i].style.display = "none"
            }
        }
    </script>
</body>
</html>
